@charset "utf-8";
body, html{
	padding:0;
	margin:0;
	font-size:0;
}
.wrapper{	
	height:900px;
}
.container{margin:auto;max-width:1200px;width:100%;}

.flexslider .slides li img{width:100%;max-height:680px;}

.php_main_section{
	width:100%;
	min-height:680px;
	
	background:url("/inventory3/images/contents/php_intro.jpg");
	/*
	background:url("../images/contents/php_intro.jpg") center center no-repeat;
	*/	
	
	display:inline-block;
}
.jsp_main_section{
	width:100%;
	min-height:680px;
	
	background:url("/inventory3/images/contents/jsp_intro.jpg");
	/*
	background:url("../images/contents/jsp_intro.jpg") center center no-repeat;
	*/	
	
	display:inline-block;
}
.javascript_main_section{
	width:100%;
	min-height:680px;
	
	background:url("/inventory3/images/contents/javascript_intro.jpg");
	/*
	background:url("../images/contents/javascript_intro.jpg") center center no-repeat;
	*/	
	
	display:inline-block;
}
.section_mask{
	display: inline-block;
    width: 100%;
    min-height: 680px;
	background:rgba(0, 0, 0, 0.3);
}
.subject{
	max-width: 500px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 5px;
    margin-left: 30px;
}
.subject:first-child{
	margin-top:100px;
}
.subject > .header{
	font-size:20px;
	font-weight:600;
	width:100%;
	background:#e5e5e5;
	padding:10px 15px;
	border:2px solid #e0e0e0;
	border-radius:15px;
	box-sizing:border-box;
	cursor:pointer;
}
.subject > .content{
	display:none;
}

.subject > .content_active{
	display: block;
    font-size: 14px;
    padding: 15px;
    box-sizing: border-box;
    line-height: 1.8;
    background: #fff;
    margin: 0 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.subject > .content_active > .each_cont{
	padding-left:14px;
	position:relative;
	margin: 5px 0px;
	line-height:1.8;
	
}
.subject > .content_active > .each_cont:first-child{
	margin-top:0px;
}
.subject > .content_active > .each_cont > .sign{
	position:absolute;
	left:0;
	top:0;
}
.homp_info_mobile{
	display:none;
}
.copyright_wrap{
	background:#000;
	color:#e0e0e0;
	font-size:14px;
	padding:20px 20px;
}

@media(max-width:767px){
	.homp_info_mobile{
		display:inline-block;
		width:100%;
	}
	.homp_info_mobile > .mobile_info_wrap{
		width:100%;
		text-align:center;
		background:#e5e5e5;
		border-bottom:1px solid #fff;
		padding:20px 0px 22px;
	}
	.homp_info_mobile > .mobile_info_wrap:last-child{
		border-bottom:none;
	}
	.homp_info_mobile > .mobile_info_wrap > .mobile_info_head{
		width:100%;
		font-size: 16px;
		font-weight: 600;
		padding-bottom: 7px;
	}
	.homp_info_mobile > .mobile_info_wrap > .mobile_info_cont{
		width:100%;
		font-size: 14px;
		font-weight: 600;
		padding:0px 15px;
		box-sizing:border-box;
	}
	.homp_info_mobile > .mobile_info_wrap > .mobile_info_cont a{
		outline: none;
		text-decoration: none;
		color: #000;
		width: 100%;
		display: inline-block;
		word-wrap: break-word;
	}
	.copyright_wrap{
		text-align:center;
	}
	.section_mask{
		min-height:auto;
		max-height:680px;
	}
	.section_mask > .subject{
		max-width:none;
		margin-left:0px;
		padding:0px 5%;
		
	}
	.section_mask > .subject:first-child{
		margin-top:10%;
	}
	.section_mask > .subject:last-child{
		margin-bottom:10%;
	}
}