@charset "utf-8";
body, html{
	padding:0;
	margin:0;
	font-size:0;
}

.container{margin:auto;max-width:1200px;}

.flexslider .slides li img{width:100%;max-height:650px;}
.wrapper{
	position:absolute;
}