@charset "utf-8";

.head_wrap{
	width:100%;
}
.head_wrap_inner{
	display:inline-block;
	background:#e5e5e5;
	z-index:10000;
	width:100%;
}
.head_wrap .logo{
	font-size:40px;
	font-weight:700;
	padding:47px 56px;
	margin: 10px 0px;
}
.head_wrap .logo a{
	color:#000;
	text-decoration:none;
}
.head_wrap .logo a:hover{
	color:#000;
	text-decoration:none;
}
.head_wrap .info_wrap, .head_wrap .logo{
	float:left;
}

.head_wrap .info_wrap{
	padding:0px;
	padding-right:0px;
	float:right;
	box-sizing:border-box;
}
.head_wrap .info_wrap .info, .head_wrap .info_wrap .menu{
	clear:both;
}
.head_wrap .info_wrap .info{
	padding-top:20px;
	padding-bottom: 20px;
    display: inline-block;
}
.head_wrap .info_wrap .info a{
	outline:none;
	text-decoration:none;
	color:#000;
	width: 100%;
    display: inline-block;
    word-wrap: break-word;
}
.head_wrap .info_wrap .info > ul{
	list-style:none;
	font-size:14px;
	margin:0;
	padding:0;
}
.head_wrap .info_wrap .info > ul > li{
	float:left;
	max-width:340px;
	-moz-max-width:300px;
	padding: 10px 30px;
}
.head_wrap .info_wrap .info > ul > li:first-child{
	padding-left:0px;
}
.head_wrap .info_wrap .info > ul > li .cont_head{
	font-size:16px;
	font-weight:600;
	padding-bottom:10px;
}
.head_wrap .info_wrap .menu > ul{
	list-style:none;
	font-size:16px;
	margin:0;
	padding:0;
	background:#000;
	display:inline-block;
	position:relative;
	color:#fff;
	width:100%;
	max-width: 859px;
	-webkit-max-width:800px;
}
.head_wrap .info_wrap .menu > ul:before{
	content: "";
    height: 0px;
    width: 0px;
    background-color: #000;
    border-bottom: 20px solid #000;
    border-right: 20px solid #000;
    border-left: 20px solid #e5e5e5;
	border-top: 20px solid #e5e5e5;
    position: absolute;
    margin: auto;
    left: -40px;
	top: 0px;
}
.head_wrap .info_wrap .menu > ul > li{
	float:left;
}
.head_wrap .info_wrap .menu > ul > li a{
	text-decoration:none;
	outline:none;
	color:#fff;
	width:100%;
    padding: 10.5px 55.2px;
	-moz-padding: 10.5px 49.62px;
	display:inline-block;
	box-sizing:border-box;
}
.mobile_info_wrap{
	display:none;
}
.mobile_menu{
	display:none;
	list-style:none;
	padding:0;
	margin:0;
	width:100%;
	background:#000;
	padding:30px 0px;
	box-sizing:border-box;
	position: absolute;
    z-index: 1000;
}
.mobile_menu a{
	text-decoration:none;
	outline:none;
	color:#fff;
	text-align:center;
	padding:10px 10px;
	width:100%;
	display:inline-block;
	box-sizing:border-box;
	font-size:16px;
}
.open_mobile_menu{
	display:block;
}
/** 메뉴 **/
@media(max-width:1200px){
	.head_wrap .logo{
		width:100%;
		text-align:center;
		padding:0px !important;
		margin-top:30px !important;
	}
	.head_wrap .info_wrap{
		width:100%;
	}
	.head_wrap .info_wrap .info{
		width:100%;
	}
	.head_wrap .info_wrap .info > ul{
		width:100%;
		padding:0px;
	}
	.head_wrap .info_wrap .info > ul > li{
		width:33.333%;
		max-width:none;
		box-sizing:border-box;
		padding-left:30px !important;
	}
	.head_wrap .info_wrap .info, .head_wrap .info_wrap .menu{
		width:100%;
	}
	.head_wrap .info_wrap .menu > ul{
		padding:0px;
		max-width:none;
	}
	.head_wrap .info_wrap .menu > ul:before{
		display:none;
	}
	.head_wrap .info_wrap .menu > ul > li{
		width:25%;
		text-align:center;
		font-size:0px;
	}
	.head_wrap .info_wrap .menu > ul > li a{
		padding:10.5px 20px;
		white-space:nowrap; 
		text-overflow:ellipsis;
		font-size:16px;
		overflow:hidden;
	}
	.wrapper{
		height:auto;
	}
}
@media(max-width:767px){
	.head_wrap .logo{
		margin-top:15px !important;
		margin-bottom:15px;
		width:auto;
		font-size:30px;
		margin-left:15px;
	}
	.head_wrap .info_wrap{
		display:none;
	}
	.mobile_info_wrap{
		display:block;
		float:right;
	}
	.mobile_info_wrap > .hamburger{
		width:40px;
		height:40px;
		padding:5px 7px;
		box-sizing:border-box;
		border-radius:12px;
		margin-top:20px;
		margin-right:10px;
		margin-bottom:10px;
		cursor:pointer;
	}
	.mobile_info_wrap > .hamburger > span{
		display:inline-block;
		width:100%;
		border-bottom:3px solid #fff;
		margin-top:4px;
	}
	.mobile_info_wrap > .mobile_menu{
		display:none;
	}

}
.depth1_menu_active{
	color:#000 !important;
	background:#fff;
}